# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [21]:
# Your code here
import pandas as pd


df = pd.read_csv('file1.csv')

num_rows, num_cols = df.shape

print("Number of rows:", num_rows)
print("Number of columns:", num_cols)

Number of rows: 4008
Number of columns: 11

In [46]:
# Your code here
import pandas as pd

df = pd.read_csv('file1.csv')

print("Data types of each column:")
print(df.dtypes)
print()

#Convert 'Income' column from object to numeric type. Convert 'Gender' column to categorical type. And Convert 'Education' column to categorical type.

Data types of each column:
Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [23]:
unique_values = df.nunique()

categorical_columns = df.select_dtypes(include=['object', 'category']).columns

for column in df.columns:
    if column in categorical_columns:
        print(f"Column '{column}':")
        print(f"Number of unique values: {unique_values[column]}")
        print(f"Unique values: {df[column].unique()}")
        print()
    else:
        print(f"Column '{column}':")
        print(f"Range of values: [{df[column].min()}, {df[column].max()}]")
        print()
        
# Columns like 'Gender', 'Education', 'ST' (State), 'Policy Type', and 'Vehicle Class' are likely categorical as they have a limited set of unique values.
# Numerical columns like 'Income', 'Monthly Premium Auto', 'Customer Lifetime Value', 'Total Claim Amount', and 'Number of Open Complaints' appear to be numerical.

Column 'Customer':
Number of unique values: 1071
Unique values: ['RB50392' 'QZ44356' 'AI49188' ... 'CW49887' 'MY31220' nan]

Column 'ST':
Number of unique values: 8
Unique values: ['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali', 'AZ', 'WA', NaN]
Categories (8, object): ['AZ', 'Arizona', 'Cali', 'California', 'Nevada', 'Oregon', 'WA', 'Washington']

Column 'GENDER':
Number of unique values: 5
Unique values: [NaN, 'F', 'M', 'Femal', 'Male', 'female']
Categories (5, object): ['F', 'Femal', 'M', 'Male', 'female']

Column 'Education':
Number of unique values: 6
Unique values: ['Master', 'Bachelor', 'High School or Below', 'College', 'Bachelors', 'Doctor', NaN]
Categories (6, object): ['Bachelor', 'Bachelors', 'College', 'Doctor', 'High School or Below', 'Master']

Column 'Customer Lifetime Value':
Number of unique values: 1027
Unique values: [nan '697953.59%' '1288743.17%' ... '2031499.76%' '323912.47%'
 '899704.02%']

Column 'Income':
Range of values: [0.0, 99960.0]

Column 'Monthly Premium Auto':
Range of values: [61.0, 35354.0]

Column 'Number of Open Complaints':
Number of unique values: 6
Unique values: ['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]

Column 'Policy Type':
Number of unique values: 3
Unique values: ['Personal Auto', 'Corporate Auto', 'Special Auto', NaN]
Categories (3, object): ['Corporate Auto', 'Personal Auto', 'Special Auto']

Column 'Vehicle Class':
Number of unique values: 6
Unique values: ['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]

Column 'Total Claim Amount':
Range of values: [0.382107, 2893.239678]

In [24]:
summary_stats = df.describe()
print(summary_stats)

mode_stats = df.mode(axis=0, numeric_only=True)
print("\nMode:")
print(mode_stats)

#For "Income," the mean and median are relatively close, indicating that the distribution may be roughly symmetrical. 
#For "Monthly Premium Auto," the mean is higher than the median, indicating a right-skewed distribution where some customers pay much higher premiums. 
#The mode for "Income" is 0.0, which could indicate missing or incorrectly recorded data.

             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

Mode:
   Income  Monthly Premium Auto  Total Claim Amount
0     0.0                  65.0               321.6

In [20]:
categorical_columns = df.select_dtypes(include=['object', 'category']).columns

summary_statistics_categorical = {}
for column in categorical_columns:
    summary_statistics_categorical[column] = df[column].value_counts()

for column, statistics in summary_statistics_categorical.items():
    print(f"Summary statistics for '{column}':")
    print(statistics)
    print()
    
#The state column contains various representations of states. Gender is represented in different forms. Some variations in labels, such as "Bachelors" instead of "Bachelor"

Summary statistics for 'Customer':
RB50392    1
HJ15383    1
AO74776    1
HQ82233    1
OL72737    1
          ..
RO26085    1
ES57969    1
JK55587    1
RN97635    1
MY31220    1
Name: Customer, Length: 1071, dtype: int64

Summary statistics for 'ST':
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: ST, dtype: int64

Summary statistics for 'GENDER':
F         457
M         413
Male       39
female     28
Femal      17
Name: GENDER, dtype: int64

Summary statistics for 'Education':
Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: Education, dtype: int64

Summary statistics for 'Customer Lifetime Value':
445811.34%     4
251459.20%     4
272535.64%     3
578018.22%     3
684615.03%     3
              ..
245357.08%     1
507566.27%     1
321497.94%     1
1227534.31%    1
899704.02%     1
Name: Customer Lifetime Value, Length: 1027, dtype: int64

Summary statistics for 'Number of Open Complaints':
1/0/00    830
1/1/00    138
1/2/00     50
1/3/00     34
1/4/00     13
1/5/00      6
Name: Number of Open Complaints, dtype: int64

Summary statistics for 'Policy Type':
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: Policy Type, dtype: int64

Summary statistics for 'Vehicle Class':
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: Vehicle Class, dtype: int64

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [42]:
#Exercise 1
customer_locations = df['ST'].value_counts()

print("Customer locations and frequencies:")
print(customer_locations)

Customer locations and frequencies:
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: ST, dtype: int64

In [43]:
top_5_less_common_locations = customer_locations.tail(5)
print(top_5_less_common_locations)

Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: ST, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [47]:
# Your code here
policy_counts = df['Policy Type'].value_counts()

print("Policy types and total number of policies sold:")
print(policy_counts)
print()

policy_with_highest_sales = policy_counts.idxmax()

print("Policy type with the highest number of policies sold:")
print(policy_with_highest_sales)

Policy types and total number of policies sold:
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: Policy Type, dtype: int64

Policy type with the highest number of policies sold:
Personal Auto

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [50]:
# Your code here
personal_auto_df = df.loc[df['Policy Type'] == 'Personal Auto']
corporate_auto_df = df.loc[df['Policy Type'] == 'Corporate Auto']

avg_income_personal_auto = personal_auto_df['Income'].mean()
avg_income_corporate_auto = corporate_auto_df['Income'].mean()

print("Average income for Personal Auto policies:", avg_income_personal_auto)
print("Average income for Corporate Auto policies:", avg_income_corporate_auto)

Average income for Personal Auto policies: 38180.69871794872
Average income for Corporate Auto policies: 41390.31196581197

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [54]:
# Your code here
import pandas as pd

total_claim_stats = df['Total Claim Amount'].describe()

print("Statistics for Total Claim Amount:")
print(total_claim_stats)

Statistics for Total Claim Amount:
count    1071.000000
mean      404.986909
std       293.027260
min         0.382107
25%       202.157702
50%       354.729129
75%       532.800000
max      2893.239678
Name: Total Claim Amount, dtype: float64